*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  box-sizing: 0px;
  padding: 0px;
  text-decoration: none;
}
img{
  max-width: 100%;
  display: block;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}